.reg-container {
  margin: auto;
}

.quiz-result-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.quiz-result-container .archived-text {
  font-size: 18px;
  font-weight: bold;
  color: #131111;
  margin-top: 10px;
}

.question-result {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.question-result h3 {
  margin: 5px 0 10px 10px;
  display: flex;
  /* Use flexbox for alignment */
  justify-content: space-between;
  /* Align items with space between them */
}

.question-result p {
  margin-bottom: 5px;
}

.quiz-result-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.quiz-result-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.question-result {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
}

.question-result h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.question-result p {
  margin: 5px 0 5px 30px;
  display: flex;
}


.question-result .correct-answer {
  color: #32cd32;
}

.home-link {
  text-decoration: none;
}



.feedback-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.feedback-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.feedback-label {
  display: block;
  margin-bottom: 5px;
}

.feedback-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  /* Allow vertical resizing */
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}