/* UserProfile.css */

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 35%;
    background-color: #fff;
  }
  
  .avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-details h2 {
    margin-bottom: 10px;
  }
  
  .profile-details p {
    margin: 5px 0;
  }
  